{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/auth/register.css') }}">
{% endblock %}

{% block body %}
    {% dump(app.flashes) %}
    <h1>HULA!</h1>
    <h2>MAKE APPOINTMENTS EASIER 👣</h2>

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                {{ form_start(registrationForm, {'attr': {'class': 'login'}}) }}
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'login__input', 'placeholder': 'E-Mail'}}) }}
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        {{ form_widget(registrationForm.name, {'attr': {'class': 'login__input', 'placeholder': 'Full Name'}}) }}
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'login__input', 'placeholder': 'Password'}}) }}
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        {{ form_widget(registrationForm.plainPasswordConfirm, {'attr': {'class': 'login__input', 'placeholder': 'Confirm Password'}}) }}
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <label for="registration_form_agreeTerm" class="login__label__text">I accept the <u>terms</u></label>
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'login__checkbox'}})}}
                    </div>
                    <button class="button login__submit" type="submit">
                        <span class="button__text">Sign Up Now!</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                    <h5>Already have an account? <a href="/login">Log in NOW!</a></h5>
                {{ form_end(registrationForm) }}
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
{% endblock %}
