{% extends 'base.html.twig' %}

{% block title %}Welcome Home!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/home/calendar.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="{{ asset('assets/scripts/home/calendar/customAlerts.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/scripts/home/calendar/appointmentHandler.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/scripts/home/calendar/helpers.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/scripts/home/calendar/axiosPost.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/scripts/home/calendar/headerFiller.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/scripts/home/calendar/setSelectorsAndListeners.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/scripts/home/calendar/calendarRefresher.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/scripts/home/calendar/calendarFiller.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('assets/scripts/home/homeController.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div style="display: none" id="calendar_style">{{ calendar_style }}</div>

    <div class="loggedInText">Hey, {{ name }}</div>
    <a href="/logout"><div class="logoutButton">LOGOUT</div></a>

    <div class="realTimeHeader" id="realTimeHeader">Current date and time</div>

    <div class="inline-headers">
        <h1 id="monthHeader">Month Year</h1>
        <h2 id="scheduleText">Here's a list of employees</h2>
    </div>

    <div>
        <label for="months" class="monthLabel">Choose a month: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <select name="months" id="months" class="months">
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
        </select>

        <label for="years" class="monthLabel" style="padding-left: 3.5vw;">Choose a year:</label>
        <select name="years" id="years" class="years">
            <option value="2020" class="year">2020</option>
            <option value="2021" class="year">2021</option>
            <option value="2022" class="year">2022</option>
            <option value="2023" class="year">2023</option>
            <option value="2024" class="year">2024</option>
        </select>
    </div>
    <br/>

    <div>
        <label for="locations" class="locationSelector">Choose a location:&nbsp;&nbsp;&nbsp;</label>
        <select name="locations" id="locations" class="months">
        {% for location in locations %}
            <option value="{{ location.id }}">{{ location.city }}</option>
        {% endfor %}
        </select>
    </div>

    <div id="makeAppointmentButton" class="makeAppointmentButton" onclick="">Make an appointment</div>




    <div class="inline-calendar">
        <table id="calendar" style="margin-top: 15px">
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
{#                <th></th>#}
{#                <th></th>#}
{#                <th></th>#}
{#                <th></th>#}
{#                <th></th>#}
{#                <th></th>#}
{#                <th></th>#}
            </tr>
            <tr class="calendarRow tr-filled">
                <td class="calendarBox td-weekend"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox td-weekend"></td>
            </tr>
            <tr class="calendarRow tr-white">
                <td class="calendarBox td-weekend"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox td-weekend"></td>
            </tr>
            <tr class="calendarRow tr-filled">
                <td class="calendarBox td-weekend"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox td-weekend"></td>
            </tr>
            <tr class="calendarRow tr-white">
                <td class="calendarBox td-weekend"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox td-weekend"></td>
            </tr>
            <tr class="calendarRow tr-filled">
                <td class="calendarBox td-weekend"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox td-weekend"></td>
            </tr>
            <tr class="calendarRow tr-white">
                <td class="calendarBox td-weekend"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox"></td>
                <td class="calendarBox td-weekend"></td>
            </tr>
        </table>
        <ul class="profiles-ul" id="profiles-ul">
        </ul>
    </div>

{% endblock %}